* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centrar {
    box-sizing: border-box;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.headerContainer {
    height: 80px;
    border: solid 1px black;
    position: relative;
}

.logo {
    float: left;
    margin-left: 10px;
    margin-top: 0px;
}

.busqueda {
    position: absolute;
    right: 10px;
    top: 20px;
}

.buscar {
    position: absolute;
    color: red;
    right: 160px;
    top: 2px;
}

.navContainer {
    background-color: #2e0707;
}

.navContainer::after {
    content: "";
    display: table;
    clear: both;
}

.navContainer ul {
    list-style-type: none;
}

.navContainer li {
    float: left;
    padding: 14px 20px;
}

.navContainer li:hover {
    background-color: #575757;
}

.navContainer li a {
    color: white;
    text-decoration: none;
    display: block;
}

.navContainer .aulaVirtual {
    margin-left: auto;
}

.encabezado-img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.content {
    overflow: hidden;
    margin-top: 20px;
}

.mainContent {
    float: left;
    width: 70%;
    margin-right: 20px;
}

.principal {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.secundarios article {
    background-color: #e4e4e4;
    padding: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 200px;
    float: left;
    border: #2e0707 solid 1px;

}

.imagenes {
    background-color: #e4e4e4;
    padding: 15px;
    margin-bottom: 10px;
    width: 200px;
    float: left;
    border: #2e0707 solid 1px;
}

.grid-container {
    position: relative;

}

.grid-item {
    float: left;
    width: 30%;
}

.grid-item img {
    width: 100%;
    height: auto;
    float: left;
    padding: 3px 3px;
}

.sidebar {
    float: left;
    width: 25%;
    height: fit-content;
    background-color: #d4d4d4;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    clear: both;
}